


div.panel-pane div.panel-hide {
  display: none;
}

/** For IE we add the class via js; for other browsers we rely on :hover **/
div.panel-pane div.panel-hide-hover,
div.panel-pane:hover div.panel-hide {
  display: block;
  position: absolute;
  z-index: 200;
  margin-top: -1.5em;
}

div.panel-pane div.node {
  margin: 0;
  padding: 0;
}

div.panel-pane div.feed a {
  float: right;
}